<!DOCTYPE html>
<html>
<head>
    <title>Laces.js Demo</title>
    <script type="text/javascript" src="../laces.js"></script>
    <script type="text/javascript" src="../laces.tie.js"></script>
    <script type="text/javascript" src="underscore.js"></script>
</head>
<body>
    <div id="contents"></div>

    <script type="text/javascript">
        var model = new LacesModel({
            users: {},
            userNames: function() { return _.map(this.users, function(user) { return user.name; }); }
        });

        var template = _.template(
            '<p>Select user: ' +
                '<select>' +
                '<% _.each(userNames, function(name) { %>' +
                    '<option><%= name %></option>' +
                '<% }); %>' +
                '</select>' +
            '</p>' +
            '<hr>' +
            '<ul>' +
                '<% _.each(users, function(user) { %>' +
                '<li data-user-id="<%= user.id %>">' +
                    '<span data-laces="{ property: users[<%= user.id %>].name, editable: true }"></span>' +
                    '<button class="remove-user">Remove</button>' +
                '</li>' +
                '<% }); %>' +
                '<li>' +
                    '<input id="name-input" type="text">' +
                    '<button id="add-user">Add</button>' +
                '</li>' +
            '</ul>'
        );

        var tie = new LacesTie(model, template);
        model.bind("change:userNames", function() {
            var contents = document.getElementById("contents");
            contents.innerHTML = "";
            contents.appendChild(tie.render());
        }, { initialFire: true });

        document.body.addEventListener("click", function(event) {
            if (event.target.getAttribute("id") === "add-user") {
                var id = _.uniqueId("user_");
                model.users.set(id, {
                    id: id,
                    name: document.getElementById("name-input").value
                });
            } else if (event.target.className === "remove-user") {
                var userId = event.target.parentNode.getAttribute("data-user-id");
                model.users.remove(userId);
            }
        }, false);
    </script>
</body>
</html>
